<!-- begin contact -->
{% assign c = "c-contact-form" %}
<div class="{{c}}" id="contact">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        <div class="{{c}}__form-box">
          <div class="{{c}}__contact-head">
            <h2 class="{{c}}__contact-title">{{ include.form_title }}</h2>
            <p class="{{c}}__contact-description">{{ include.form_description }}</p>
          </div>
          <form class="{{c}}__form"
            action="{{include.form_success_page}}"
            method="POST">
            <input type="hidden" name="_to" value="{{include.form_submission_email}}">
            <div class="{{c}}__form-group">
              <label class="{{c}}__form-label screen-reader-text" for="form-name">Your Name</label>
              <input class="{{c}}__form-input" id="form-name" type="text" name="name" placeholder="Your name..." required>
            </div>
            <div class="{{c}}__form-group">
              <label class="{{c}}__form-label screen-reader-text" for="form-email">Your Email</label>
              <input class="{{c}}__form-input" id="form-email" type="email" name="_replyto" placeholder="Your email..."
                required>
            </div>
            <div class="{{c}}__form-group">
              <label class="{{c}}__form-label screen-reader-text" for="form-text">Your Message</label>
              <textarea class="{{c}}__form-input" id="form-text" name="text" rows="9" placeholder="Your message..."
                required></textarea>
            </div>
            <div class="{{c}}__form-group {{c}}__form-group--button">
              <button class="c-button c-button--primary c-button--large" type="submit">{{ include.form_button_text }}</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- end contact -->