<!-- begin subscribe -->
{% assign c = "c-subscribe" %}
<section class="{{c}} section">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        <div class="{{c}}__inner">
          <div class="{{c}}__info">
            <h3 class="{{c}}__title">{{ include.newsletter_title }}</h3>
            <div class="{{c}}__subtitle">
              <span id="ityped"></span>
            </div>
          </div>

          <form class="{{c}}__form validate" action="//{{ include.newsletter_identifier }}"
            method="POST" id="membedded-subscribe-form" name="membedded-subscribe-form" target="_blank" novalidate>
            <label class="screen-reader-text" for="mce-EMAIL">Email address</label>
            <input class="{{c}}__form-email required email" id="mce-EMAIL" type="text" name="EMAIL" placeholder="Your email address">
            <button class="c-button c-button--primary c-button--large" id="membedded-subscribe" type="submit" name="subscribe">{{ include.newsletter_button }}</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end subscribe -->

<script>
  var itype_text = ['{{ include.newsletter_description }}'];
</script>