---
layout: default
---

{% assign tag=page.tag | capitalize %}
{% bookshop page-heading title=tag %}

<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="contaniner__inner animate">
        <div class="row">
          {% for post in page.posts %}
          <div class="article col col-4 col-d-6 col-t-12">
            <div class="article__inner">
          
              {% if post.image %}
              <div class="image-wrap">
                <a class="article__image" href="{{ post.url }}">
                  <img loading="lazy" src="{{ post.image }}" alt="{{ post.title }}">
                </a>
              </div>
              {% endif %}
          
              <div class="article__content">
          
                {% if post.tags.size >= 1 %}
                <div class="article-tags__box">
                  {% for tag in post.tags %}
                  <a href="{{ site.baseurl }}/tag/{{ tag | downcase }}" class="article__tag">{{ tag }}</a>
                  {% endfor %}
                </div>
                {% endif %}
          
                <h2 class="article__title">
                  <a href="{{ post.url }}">{{ post.title }}</a>
                </h2>
          
                <p class="article__excerpt">
                  {% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | truncate: 120 }}{% endif
                  %}
                </p>
          
                <div class="article__meta">
                  <div class="article__author-image">
                    <img loading="lazy" src="{{ site.data.author.author_image }}" alt="{{ site.data.author.author_name }}">
                  </div>
                  <div class="article-info">
                    <div class="article__author-name">{{ site.data.author.author_name }}</div>
                    <span class="article__date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></span>
                  </div>
                </div>
          
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% bookshop
  newsletter newsletter_title=site.data.newsletter.newsletter_title
  newsletter_description=site.data.newsletter.newsletter_description
  newsletter_identifier=site.data.newsletter.newsletter_identifier
  newsletter_button=site.data.newsletter.newsletter_button
%}